.App {
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;

}

.particles {
    position: fixed;
    top: 0;
    color: black;
    right: 0;
    button: 0;
    left: 0;
    z-index: -10;


}